extends layouts/mini-layout.pug

block styles
    title #{docTitle}
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/product.css")
block content 
    main 
        h1 404 Page Not Found                